* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #858693;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
}

.row {
  height: 100px;
}

.groups {
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 1.4rem;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5913e;
  color: #000;
  font-weight: 600;
}
